#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Pau Aliagas <linuxnow@gmail.com>

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	packaging/build.sh $(CURDIR)/debian/plugin-qualify /usr/lib

override_dh_auto_test:
